<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">//<![CDATA[
    $(function () {
        var s = new WebSocket('ws://127.0.0.1:8000/echo');
        s.onopen = function () {
            console.log('WebSocket open');
        };
        s.onmessage = function (e) {
            console.log('message: ' + e.data);
				window.scrollTo(0,document.body.scrollHeight)
            $('#messagecontainer').append('<p>' + e.data + '</p>');
				
        };
        window.s = s;

        $('#send_message').click(function () {
            s.send($('#message').val() + "-{{ proj_id }}");
            window.opener.location.reload()
        });
        $('#clear').click(function () {
            $('#messagecontainer').html("");
        });

        window.onunload=function (){
            window.opener.location.reload()
        }


        document.onkeydown = function(event)
        {
            if (event.keyCode == 67 && event.ctrlKey) {
                s.send("stop" + "-{{ proj_id }}");
                window.opener.location.reload()

            }
        }


    });
    //]]></script>



</head>
<body>
welcome{{ username }}<br>
<form enctype="multipart/form-data" name="upform" action="/upload1/{{ proj_id }}" method="post">
    <input type="file" name="upload">
    <input type="submit" value="upload">
</form>



<input type="text" id="message" value="input your command!" />
<button type="button" id="send_message">Send message</button>
<button type="button" id="clear">clear</button>
<h1>Received Messages</h1>
<div id="messagecontainer">

</div>
</body>
</html>
